APP_ENV=dev
APP_PORT=8080
POSTGRES_DSN=postgres://postgres:root@localhost:5432/mrag_platform?sslmode=disable
PYTHON_EXEC=python
PYTHON_AGENTS_DIR=../python_agents
WORKSPACE_ROOT=workspace
SSH_BINARY=ssh
SSH_CLIENT_MODE=real
SSH_DIAL_TIMEOUT_SEC=4
SSH_COMMAND_TIMEOUT_SEC=20
REMOTE_EXECUTION_MODE=real
REMOTE_WORK_ROOT=/home/bzli/lbz
REMOTE_RUNNER_ENTRYPOINT=./bin/mrag-remote-runner
REMOTE_DATASET_RUNNER_ENTRYPOINT=./bin/mrag-dataset-runner
DATASET_SCAN_MODE=real
DATASET_INDEX_MODE=real
DATASET_PREVIEW_LIMIT=12
OVERVIEW_STATS_MODE=real
OVERVIEW_TREND_DAYS=7
